body {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

/* layout */

main {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  color: var(--footer-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  color: rgba(154, 156, 255, 0.9);
}

footer a:active {
  color: rgba(255, 255, 255, 0.9);
}

/* input */

.input-box {
  position: relative;
}

#input {
  appearance: none;
  font-size: 18px;
  letter-spacing: 0.1em;

  min-width: 50vw;
  border: 1px solid #00ff00;
  border-radius: 5px;
  padding: 0.6em 0.8em;

  background: transparent;

  transition: outline-width .1s ease;
}

#input:focus{
  outline: 6px solid hsla(115, 100%, 50%, 0.3);
}

@keyframes progress {
  100% {
    background-position-x: 3em;
  }
}

#input.buffering {
  border-color: #ffff00;
  outline-color: #ffff004d;

  /* https://getbootstrap.com/docs/5.3/components/progress/#animated-stripes */
  background-color: #665b00;
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-size: 3em 3em;
  animation: 1s linear infinite progress;
}

#input.error {
  border-color: #ff0000;
  outline-color: #ff00004d;
}

/* Success Check Animation */

@keyframes animateCheck {
  0% {
    stroke-dashoffset: 80;
    opacity: 100%;
  }

  25% {
    stroke-dashoffset: 0;
    opacity: 100%;
  }

  50% {
    stroke-dashoffset: 0;
    opacity: 100%;
  }

  100% {
    stroke-dashoffset: 0;
    opacity: 0%;
  }
}

#success-check {
  position: absolute;
  width: 3em;
  left: calc(-1 * (3em + 15px));
  aspect-ratio: 1;

  stroke-dasharray: 80;
  stroke-dashoffset: 80;
}

#success-check.animation {
  animation: animateCheck .85s ease-in-out;
}
